albumentations==1.4.23
lightning-bolts==0.7.0
numpy==2.0.1
pandas==2.2.3
pytorch-lightning==1.9.5
rasterio==1.4.3
scikit-learn==1.6.0
scipy==1.14.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
torch==2.5.1
torchaudio==2.5.1
torchgeo==0.6.2
torchmetrics==1.6.0
torchtyping==0.1.5
torchvision==0.20.1
tqdm==4.67.1